[submodule "src"]
	path = src
	url = https://github.com/LawrenceJones/raspi-gpio.git
[submodule "hw"]
	path = hw
	url = https://github.com/LawrenceJones/gyro-circuit.git
[submodule "web"]
	path = web
	url = https://github.com/fleurette/Virtual-Gyroscope.git
